<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/contact.css">

    <title>Contacto</title>
</head>

<body>

    <header class="header">
        <div class="container logo-nav-container">
            <img class="logo" src="/img/DALL·E 2022-09-07 11.49.46 - leonardo da vinci with a cumputer hacker.png" />
            <span class="menu-icon">Ver menu</span>
            <nav class="menu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="music.html">Musica</a></li>
                    <li><a href="#">Proyectos</a></li>
                    <li><a href="contact.html">Acerca de mi</a></li>
                </ul>
            </nav>
        </div>
    </header>