<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/music.css">

    <title>Musica</title>
</head>

<body>

    <header class="header">
        <div class="container logo-nav-container">
            <img class="logo" src="../img/DALL·E 2022-09-07 11.49.46 - leonardo da vinci with a cumputer hacker.png" />
            <span class="menu-icon">Ver menu</span>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="music.html">Musica</a></li>
                    <li><a href="#">Proyectos</a></li>
                    <li><a href="contact.html">Acerca de mi</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <img class="main-img" src="../img/DALL·E 2023-01-26 10.11.26 - leonardo da vinci dj.png">
            <h1>My favorite music</h1>
            <p class="music-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, doloribus,
                deleniti eius reiciendis tempore perspiciatis cupiditate sit ad eveniet earum, iste unde quidem labore?
                Tempora consectetur sapiente dolor magnam saepe! Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Fugiat rerum sint magni vel quos, mollitia, accusamus aspernatur ullam animi quae similique,
                voluptate dicta molestias cumque aut blanditiis? Pariatur, sint aperiam!</p>
        </div>
    </main>

    <section class="topBeatport">
        <h2>Top 100 Beatport tracks</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime voluptatem dicta laboriosam!
            Dolor atque iste amet molestiae vel, suscipit praesentium iure maxime ipsa.
            Voluptatem, deleniti eum non et hic sit!</p>

        <div>
            <input type="button" value="clickme" onclick="init();" />
            <p id="temas"></p>
        </div>
    </section>
    
    
    <footer class="footer">
        <div>
            <p>Pagina diseñada por @DanierOrtega</p>
        </div>
    </footer>
    <script src="../top100Beatport.js" type="script"></script>
</body>

</html>