body {
    font-family: 'Noto Sans Mono', sans-serif;
    color:black;
    font-size: 1.3rem;
    line-height: 1.4em;
    margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.main-img {
    width: 1000px;
    height: 300px;
}

.header {
    background: rgb(27, 190, 166);
    color: white;
    padding: 1rem 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /*right: 0;*/
}

.header a {
    color: whitesmoke;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    /* letter-spacing: 15px;
    font-size: 1.4rem; */
}

.menu-icon {
    display: none;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li { 
    display: inline-block;
}

.menu ul li a { 
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.menu ul li a:hover {
    background: rgb(83, 237, 214);
}

.main {
    padding-top: 10rem;
}

.footer {
    background: gray;
    padding: 1rem 0;
    text-align: center;
    margin-top: 4rem;
}

@media (max-width: 700px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .menu ul {
        display: none;
    }
    .menu ul.show {
        display: block;
    }

    .menu {
        width: 100%;
        margin-top: 1rem;
    }
    
    .menu ul li { 
        display: block;
    }
    
    .menu ul li a { 
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    
    .menu ul li a:hover {
        background: rgb(83, 237, 214);
    }
}