* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Mono', sans-serif;
}

a {
    text-decoration: none;
}

/*HEADER*/

header {
    background-color: white;
    margin: 100px 300px;
    border: 7px solid rgb(27, 190, 166);
    border-radius: 2%;
    text-align: center;
    padding: 40px;
}

header h1 {
    color: black;
}

header .logo img {
    width: 200px;
    border-radius: 10px;
    object-fit: contain;
}

header .logo p {
    padding: 20px;
    color: #9b9b9b
}

header .nav a {
    color: rgb(27, 190, 166);
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}


/*NAV*/

.nav {
    font-family: 'Noto Sans Mono', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500px;
}

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}


.nav a {
    padding: .5em .8em;
    color: rgb(27, 190, 166);
    position: relative;
    text-decoration: none;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid rgb(27, 190, 166);
    border-right: 3px solid rgb(27, 190, 166);
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid rgb(27, 190, 166);
    border-left: 3px solid rgb(27, 190, 166);
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.nav a:hover {
    color: rgb(41, 238, 208);
}

/*fondo*/
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

body {
    color: #999;
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse .92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse .92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse .92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse .92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

/*RESPONSIVE*/
@media (max-width: 1299px) {
    body {
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }

    header {
        margin: 0;
        position: center;
    }

    header h1 {
        max-width: 100%;
        color: black;
    }
    
    header .logo img {
        max-width: 100%;

    }

    header .nav a {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    /*Nav-responsive*/
    .nav a::before {
        right: 100px;
    }

    .nav a:after {
        left: 100px;
    }

}